.cat-nav-links {
  list-style: none;
  margin: 10px;
  text-align: center;
  width: auto;
  height: auto;

  text-transform: capitalize;
  text-shadow: 0 0 1px rgb(66, 66, 66);
  justify-content: space-around;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  background-color: none;
}

.cat-nav-links li {
}

.cat-nav-links a {
  border: 1px solid transparent;
  color: #ff0055;
  text-decoration: none;
  font-size: 20px;
}

.cat-nav-links a:hover {
  color: white;
  padding-bottom: 0;
  border-bottom: 1px solid #ff0055;
}

.cat-nav-links a:focus {
  color: white;
  padding-bottom: 0;
  border-bottom: 1px solid #ff0055;
}
.cat-nav-links a:active {
  color: white;
  border: none;
}
.cat-nav-links a.active {
  color: white;
}

.cat-nav-links button {
  cursor: pointer;
  border: none;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.cat-nav-links button:focus {
  outline: none;
  color: white;
}

.cat-nav-links button:hover,
.cat-nav-links button:active {
  background: #292929;
  color: white;
}

.cat.nav-links button:active {
  background: #f7ccbb34;
  color: white;
  border-bottom: 2px dotted #f7ccbb;
}

@media (max-width: 768px) {
}

@media (min-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .cat-nav-links {
    flex-direction: column;
    width: 95%;
    font-size: 10px;
  }

  .cat-nav-links a {

    font-size: 15px;
  }
  
}
