.product-item {
  display: inline-block;
  margin: 1rem;
  width: 30%;
}

.product-item__content {
  padding: 0;
}

.product-item__info {
  padding: 1rem;
  text-align: center;
}

.product-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.product-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item__info h2,
.product-item__info h3,
.product-item__info p {
  margin: 0 0 0.5rem 0;
}

.product-item__title {
  color: #ff0055;

  font-family: "Quicksand", sans-serif;
}

.product-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.product-item__modal-content {
  padding: 0;
}

.product-item__modal-actions {
  text-align: right;
}

.product-item__actions button,
.product-item__actions a {
  margin: 0.5rem;
}

/* Style for CATALOG PAGE */
.catalog-item {
  display: inline-block;
  margin: 1rem;
  width: 20%;
  height: 250px;
}

.catalog-item__clicked {
  display: inline-block;
  margin: 2px;
  width: 40%;
  height: 430px;
  border-radius: 5px;
  border: 1px solid white;
}
.catalog-item__content {
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: rgb(70, 70, 70);
}

.highlight-catalog-item__content {
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: rgb(70, 70, 70);

  box-shadow: 5px 1px 10px white;
}

.catalog-item__viewIcon {
  
  display: flex;
  position: absolute;
  margin: auto;
  top: 120px;
  left: 0;
  z-index: 5;
  color: #ff0055;
  background: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  justify-content: center;
  width:100%

}

.centered-aligment{
  vertical-align: middle;
}

.catalog-item__image {
  width: 100%;
  height: 140px;
  z-index: -1;
 
}

.catalog-item__image img {
  width: 100%;
  height: 210px;
  position: absolute;
  top: 0px;
  object-fit: cover;
}

.catalog-item__title {
  color: #ff0055;
  font-family: "Quicksand", sans-serif;
  background: #ff00553b;
  padding: 20px 1px;
  text-align: center;
  margin: 0;
  z-index: 2;
  position: relative;
  text-shadow: 1px 2px 2px rgb(255, 255, 255);
}

.catalog-item__actions {
  margin: auto;
  padding-top: 8px;

  height: 50px;
  width: 100%;
  text-align: center;
  color: white;
  background: #ff0055;
}

.catalog-item__info {
  padding: 5px;
}

.catalog-item__info h2,
.catalog-item__info h3 {
  text-align: center;
}
.catalog-item__info p {
  margin: auto;
  padding-bottom: 5px;
}

/* RESPONSIVENESS */

@media (min-width: 768px) {
  .catalog-item-view {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .product-item {
    display: block;
    margin: 1rem;
    width: 80%;
  }

  .catalog-item {
    display: inline-block;
    margin: auto;
    margin-bottom: 15px;
    margin-left: 20%;
    width: 95%;
    height: auto;
  }

  .catalog-item__clicked {
    display: block;
    margin-bottom: 15px;
    margin-left: 20%;
    width: 100%;
    height: 430px;
    border-radius: 5px;
    border: 1px solid white;
  }
  .catalog-item-view{

  }

  .button {
    border: 1px solid white;
    padding: 1px 5px; 
    margin: auto;
    width: auto;
    height: 30px;
    font-size: 12px

  }

}
