.product-item {
  display: inline-block;
  margin: 1rem;
  width: 30%;
}

.product-item__content {
  padding: 0;
}

.product-item__info {
  padding: 1rem;
  text-align: center;
}

.product-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.product-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item__info h2,
.product-item__info h3,
.product-item__info p {
  margin: 0 0 0.5rem 0;
}

.product-item__title {
  color: #ff0055;

  font-family: "Quicksand", sans-serif;
}

.product-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.product-item__modal-content {
  padding: 0;
}

.product-item__modal-actions {
  text-align: right;
}

.product-item__actions button,
.product-item__actions a {
  margin: 0.5rem;
}

/* Style for CATALOG PAGE */
.catalog-item {
  display: inline-block;
  margin: 1rem;
  width: 20%;
  height: 250px;
  
}


.catalog-item__clicked {
  display: inline-block;
  margin: 1rem;
  width: 40%;
  height: 250px;
  
}
.catalog-item__content {
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  
  
}

.catalog-item__viewIcon{
  position: absolute;
  margin: auto;
  top:100px;
  left: 60px;
  z-index: 5;
  color: #ff005554;
  cursor: pointer;
}

.catalog-item__image {
  width: 100%;
  height: 140px;
  z-index: -1;
 
}

.catalog-item__image img {
  width: 100%;
  height: 200px;
  position: relative;
  top: -70px;
  object-fit: cover;
  
}

.catalog-item__title {
  color: #ff0055;
  font-family: "Quicksand", sans-serif;
  background: #ff00553b;
  padding: 20px 1px;
  text-align: center;
  margin: 0;
  z-index: 2;
  position: relative;
  text-shadow: 1px 2px 2px rgb(255, 255, 255);
}

.catalog-item__actions {
  margin: auto;
  padding-top: 10px;
  height: 50px;
  width:100%;
  text-align: center;
  border-top: 2px solid white;
  z-index: 100;
  position: absolute;
  top:200px;
  color: white;
  background: #ff0055;
}

.catalog-item__info h2,
.catalog-item__info h3,
.catalog-item__info p {
  margin: 0 0 0.5rem 0;
  display:none;
}


/* RESPONSIVENESS */

@media (min-width: 768px) {
  .product-item__image {
    height: 20rem;
  }
}

@media only screen and (max-width: 600px) {
  .product-item {
    display: block;
    margin: 1rem;
    width: 80%;
  }

  .catalog-item {
    display: inline-block;
    margin: auto;
    width: 95%;
    height: 350px;
    
  }

}
